*.o
*.BIN
*.elf
romdisk_boot
*.img
dc-tool_*
*.kmg
*.pkg
filesystem

web/*
*.html
*.html.mem
*.data
*.js

windows/.vs/*
windows/Release/*
windows/Debug/*
*.aps
*.exe
*.idb
*.ipch
*.lastbuildstate
*.lib
*.log
*.manifest
*.obj
*.pch
*.pdb
*.res
*.sdf
*.suo
*.tlog
*.user
*.db
*.opendb
*.ilk