.git_*

assets/*
assets_normal/*
assets_*/*
webbuild.bat
webrun.bat

*.o
*.BIN
*.elf
romdisk_boot
*.img
dc-tool_*
*.kmg
*.pkg
*.psd
*.ogg

filesystem
concept
debug

web/*
web2/*
*.html
*.html.mem
*.data
*.js

windows/.vs/*
windows/enc_temp_folder/*
windows/Release/*
windows/Debug/*
windows/packages/*
windows/Test/*
*.aps
*.exe
*.dll
*.exp
*.iobj
*.ipdb
*.idb
*.ipch
*.lastbuildstate
*.lib
*.log
*.manifest
*.obj
*.pch
*.pdb
*.res
*.sdf
*.suo
*.tlog
*.db
*.opendb
*.ilk
*.psess
*.vspx
*.testdurations